.app{
  background-color: black;
  color: white;
  height: 100vw;

}
.header{
  font-size: 2rem;
  font-weight: 900;
  height: 8vh;
  border-bottom: 1px solid white;
}

.alignCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.board{
  height: 92vh;
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.row{
  display: flex;
  height: 20vh;
}
.cell{
  width: 25vw;
border:1px solid white;
color: black;
font-size: 5rem;
}
.yellow{
  background-color:yellow;
}
.orange{
  background-color:orange;
}
button{
  height: 5vh;
  width: 25vw;
  font-size: 2rem;
  background-color: blueviolet;
  color: white;
}